[submodule "03_Ft_Printf-42sp"]
	path = 03_Ft_Printf-42sp
	url = https://github.com/RogerioLS/Ft_Printf-42sp
[submodule "04_Born2BeRoot-42sp"]
	path = 04_Born2BeRoot-42sp
	url = https://github.com/RogerioLS/Born2BeRoot-42sp.git
[submodule "05_Fractol-42sp"]
	path = 05_Fractol-42sp
	url = https://github.com/RogerioLS/Fractol-42sp
[submodule "01_Libft-42sp"]
	path = 01_Libft-42sp
	url = https://github.com/RogerioLS/Libft-42sp.git
[submodule "02_Get_Next_Line-42sp"]
	path = 02_Get_Next_Line-42sp
	url = https://github.com/RogerioLS/Get_Next_Line-42sp
[submodule "06_Mini_Talk-42sp"]
	path = 06_Mini_Talk-42sp
	url = https://github.com/RogerioLS/Mini_Talk-42sp
